<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
        <servlet>
            <servlet-name>RegisterServlet</servlet-name>
            <servlet-class>zhoujingkai.week3.demo.RegisterServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>RegisterServlet</servlet-name>
            <url-pattern>/register</url-pattern>
        </servlet-mapping>

        <context-param>
            <param-name>driver</param-name>
            <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
        </context-param>
        <context-param>
            <param-name>url</param-name>
            <param-value>jdbc:sqlserver://localhost;databaseName=userdb;encrypt=true;trustServerCertificate=true</param-value>
        </context-param>
        <context-param>
            <param-name>username</param-name>
            <param-value>sa</param-value>
        </context-param>
        <context-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </context-param>
    </web-app>